body {
    margin: 0;
    background-color:#ffd000;
}
#navigation-bar {
    background-color: black;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
}

#chef-logo-header{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-style: solid;
}
nav {   
    font-size: 25px;
    min-width: 0;
    margin-left: auto;
}
ul{
   display:flex;
   gap:20px;
   flex-wrap: wrap;
   li{
    list-style-type: none;
   }
   a{
    text-decoration: none;
    color: white;
   }
}
.odin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    margin-top: 100px;
}