body {
    margin: 0;
}
#navigation-bar {
    background-color: black;
    padding: 20px;
    color: white;
}
h1 {
    display: inline-block;
    margin-left: 30px;
    padding-top: 20px;
    vertical-align: top;
}
#chef-logo-header{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-style: solid;
}
nav {
    display: inline-block;
    margin-left:100px;
    font-size: 25px;
    padding-top: 20px;
    vertical-align: top;
}

.link-btn {
    display: inline-block;
    padding:10px;
    margin-left:10px;
}